@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'app/app-theme';

@include angular-material-theme($my-theme);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

